/* =Global Reset

based on Eric Meyers reset sheet
--------------------------------------------------------------------------*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, hr,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	line-height: 1;
}
/* Tables still need 'cellspacing="0"' in the markup. */
table { border-collapse: collapse; border-spacing: 0; }
caption, th, td { text-align: left; font-weight:400; }

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote, q {	quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}


a img { border: none; }

acronym { speak: normal; }
abbr { speak: spell-out; }

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

html { font-size:62.5% } /* The all font sizes are in ems*/



/* wraps enclosing block element around inner floated elements */
.clearfix:after { content: "."; display: block; visibility: hidden; clear: both; height: 0; }
.clearfix {display:inline-block;}

/*------------------------------------------------------------------
[Master Stylesheet]

Project:

* Organising and orchastrating the css files
-------------------------------------------------------------------*/


/* =body
------------------------------------------------------------------*/
body { 
	font-family: Cambria, Georgia, serif;
	}
	
.top {
	background:#fff url(../images/mosaic.png) repeat-x top left;
	height: 12px;
}


/* =wrapper
------------------------------------------------------------------*/
#wrapper {
	margin: 0 auto;
	width: 70%;
	border-top: 1px solid #ccc;
	background: #fff;
	}


h1 {
	font-size:50px;
	font-weight:normal;
	color:#009933;
	margin-top: 1em;
	padding-left: 80px;
	margin-left: 0.3em;
	font-family: 'Ubuntu', sans-serif;
	background:#fff url(../images/factory/64_black.png) no-repeat center left;
	height: 64px;
	margin-bottom: 40px;
	}

.focus {
	border-bottom:1px solid #ccc;
	margin: 2em 0;
	}

	.focus p {
		font-size:35px;
		font-weight:normal;
		color: #232323;
		margin: 0.3em 0.5em;
		line-height:1.2;
	}

/* =p-content - primary content
------------------------------------------------------------------*/

.p-content {
	padding: 2em 0 4em 0;
	color:#464646;
	}

	.p-content p {
		font-size: 1.5em;
		margin:0 0 1.5em;
		line-height:1.5;
		}
	
	.p-content h3 {
		font-size: 1.6em;
		font-weight: normal;
		margin:0 0 0.5em;
		font-family: 'Ubuntu', sans-serif;
		color:#CC0000;
		}


/* =cols - defining the column layouts within p-content
------------------------------------------------------------------*/
	
/*-- 3 col --*/
.cols-3 .col {
	width:28%;
	float:left;
	display:inline;
	margin-left: 8%;
	}

/*-- 2 col --*/
.cols-2 .col {
	width:44%;
	float:left;
	display:inline;
	margin-left: 10%;
	}

.p-content .col {
	float:left;
	display:inline;
	}

.p-content .first {
	margin-left: 0;
	}


/* =footer
------------------------------------------------------------------*/
#footer {
	color:#464646;
	width: 100%;
	border-top:1px solid #ccc;
	background:#fff url(../images/factory/32_black.png) no-repeat center left;
	padding-top: 2em; padding-bottom: 2em;
	margin-bottom: 2em;
	}


	#footer p {
		font-size: 1.4em;
		line-height:1.5;
		margin-left: 60px;
	}


	#footer a {
		border-bottom:1px solid #ccc;
		color:#009933;
		padding-bottom:1px;
		text-decoration:none;
	}

	#footer a:hover {
		border-bottom:2px solid #009933;
	}
