<div class="container clearfix">

  <section class="first col">
    <h2>Culture</h2>
    <ul>
      <li>Maintain clarity and trust. Relationships are key to my business and reputation is everything.</li>
      <li>Don’t mince words. Your time is valuable.</li>
      <li>Clarity on rates. They are <ahref="/contact#rates">advertised for all to see</a>.</li>
      <li>Build strong maintainable systems that can be relied upon.</li>
      <li>Clear and regular communication. No radio silence.</li>
    </ul>
  </section>

  <section class="col">
    <h2>What you <strong>don't</strong> get.</h2>

    <ul>
      <li>An employee - I work <strong>with</strong> you not <strong>for</strong> you. I offer advice and will question decisions to get the best possible results.</li>
      <li>A big team, <em>but</em> that means a VIP personal service.</li>
      <li>Cut price development. High-end, quality work produced with experience is not cheap, but it is good value for money. You get what you pay for.</li>
    </ul>
  </section>

  <section id="who" class="col">
    <div id="contact_us" class="clearfix">
    <div>
      <%= image_tag "ben.jpg" %>
      <p>Tiny Code Factory is a lean software development company run by Ben Aldred. Based in Manchester, UK</p>
    </div>
  </section>
</div>

<div class="container">
  <h2>Less risk</h2>
  <p>I work in short development cycles and in close collaboration with you to build the app/product that you want. Short iterations let you see progress, give feedback and allow you to change your requirements and fix problems quickly.<br>This means that you are not committed to months of development costs and risk up front.</p>
  <h2>Can he get the job done on time and on budget?</h2>
  <p>I bet that's what you are thinking! I have the experience of working for big organisations and at small startups. I also know what it's like to start my own business. With many problems encountered and solved I am confident I can help with yours.</p>
</div>

<div class="container clearfix">
  <p class="big-text">Are we a good fit? <%=link_to "Contact me", page_path("contact") %> or see the <%=link_to "projects I have worked on", page_path("work") %>.</p>
</div>

