<% content_for :intro do %>
    <h1>We build simple, easy to use and beautiful web-based applications using Ruby on Rails, turn ideas into online businesses and help companies to innovate</h1>
<% end %>



<div class="principle">
	<div class="container">
	  <p>We make apps using highly tested Ruby on Rails to ensure maximum quality and stright forward, honest collaboration to help make you happy.</p>
	</div>
</div>
 
<div id="about" class="container clearfix">
  <h2>About</h2>
  <p class="subline">Who we are, what we do</p>
  
  <section class="first col">
    <h3>Web Application Development</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </section>
        
  <section class="col">
    <h3>A title</h3>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <h3>A title</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </section>
  
  <section class="col">
    <h3>A title</h3>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <h3>A title</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </section>				
				
  <section id="specialities">				
    <h3>Specialities</h3>
	<ul>
	  <li>list item</li>
	  <li>list item</li>
	  <li>list item</li>
	  <li>list item</li>
	</ul>

  </section>
</div>

<div class="principle">
	<div class="container">
	  <p>Ruby on Rails agency with quality baked in.</p>
	</div>
</div>
 
<div id="projects" class="container clearfix">
  <h2>Projects</h2>
  <section id="showcase">
    <ul>
      <li class="first major">
        <%= link_to image_tag("projects/boxedup/showcase.png"), "#" %>
        
        <div class="title">
          <h2>Project title</h2>
          <p>Some blurb about project</p>
        </div>

      </li>
      
      <li>
        <%= image_tag("projects/boxedup/showcase.png") %>
        
        <div class="title">
          <h2>Project title</h2>
          <p>Some blurb about project</p>
        </div>

      </li>
      
      
      <li class=" first">
        <%= image_tag("projects/boxedup/showcase.png") %>
        
        <div class="title">
          <h2>Project title</h2>
          <p>Some blurb about project</p>
        </div>
      </li>

      <li class="major">
        <%= image_tag("projects/boxedup/showcase.png") %>
        
        <div class="title">
          <h2>Project title</h2>
          <p>Some blurb about project</p>
        </div>
      </li>
      
    </ul>
  </section>
</div><!-- /#projects -->
  
<div class="principle">
	<div class="container">
	  <p>We make apps using highly tested Ruby on Rails to ensure maximum quality and stright forward, honest collaboration to help make you happy.</p>
	</div>
</div>
 
<div id="contact" class="container clearfix">
  <h2>Contact Us</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
  
</div>     