<div class="focus">
<p>We build simple, easy to use and beautiful products and web-based apps.</p>
</div>

<div class="p-content clearfix">
        
<section class="first col">
  <h3>Web Application Development</h3>
  <p>We specialise in creating <strong>high quality</strong>, <strong>user centred</strong> web apps.</p>

  <p>We use a mystic blend of eastern philosophies, <strong>honesty</strong> and <strong>damn good code</strong> to solve your problems and <strong>make you happy</strong>.</p>
</section>
        
<section>
  <h3>User Interface Design</h3>

  <p>Design is about <strong>usability</strong>. We build simple, usable, beautiful and <strong>intuitive</strong> 
    user interfaces for web applications and sites.</p>
</section>				
				
<section>				
  <h3>Product Development</h3>
  <p>Have a great idea for a product or startup? We can work with you to make it a reality and help start your business.</p>
</section>
</div>
