<% title "Expertise" %>
<% description "Tiny Code Factory services and expertise" %>
<% keywords 'Tiny Code Factory, Web development, Javascript, Ruby on Rails, Ruby, Rails, Developer, Freelance, Freelancer, Contractor, Manchester, UK' %>
<% set_meta_tags :og => {
  :title    => 'Ruby on Rails Web Development | Manchester UK',
  :type     => 'website',
  :url      => root_url,
  :site_name    => 'Tiny Code Factory',
  :description    => "Tiny Code Factory services"
},
:twitter => {
  :card => "summary",
  :site => "@benaldred"
},
:canonical => request.original_url %>


<% content_for :intro do %>
  <h2>Services</h2>
<% end %>

<div class="container clearfix">
  <section class="first col">
    <h2>Application development</h2>
    <h3>Building businesses</h3>
      <p>I work in small iterations with a deliverable at the end of a cycle. This means that the development work is transparent, so can be delivered on time and within budget. There is less risk for you.</p>
      <p>I also use test driven development to increase quality, resulting in less bugs and a lower total cost of ownership.</p>

    <h2>Project rescue</h2>
    <h3>Improve code to reduce costs or bugs</h3>
    <p>Turn round a failing project.</p>
  </section>

  <section class="col">
    <h2>Lean Startup consultancy</h2>
    <h3>"Life’s too short to build something nobody wants"</h3>
    <p>Using the Lean Startup Principles we can use the build, measure and learn feedback loop to discover your customers problems and build a solution to solve them.</p>
    <p>This includes customer development, building and measuring a Minimum Viable Product (MVP).</p>

    <h2>Rapid prototyping</h2><h3>Proof of concept or investment tool</h3>
    <p>Drawing from my experience prototyping applications at the BBC I can put together a proof of concept. You can show it to investors, potential customers or your boss to persuade or test feasibility.</p>
  </section>

  <section class="col">
    <h2>Startup CTO</h2><h3>Get going with your startup</h3>
    <p>Do you have a idea but no one to build it. I can guide you through choosing the right technology building your first version (MVP) and even help you hire a fulltime development team.</p>

    <h2>Tech consultancy</h2><h3>When you need technical help</h3>
    <p>Get no nonsense, easily understood advice on technology and its application. Particularly helpful for non technical founders and business owners who need to hire developers or just need something explained in plain terms.</p>
  </section>
</div>

<div class="ribbon">
  <div class="container">
    <h3>Specialities:</h3>
    <ul class="skills">
      <li>Ruby</li>
      <li>Ruby on Rails</li>
      <li>html5</li>
      <li>CSS3</li>
      <li>JavaScript</li>
      <li>Responsive Design</li>
      <li>BDD</li>
      <li>Automated testing</li>
      <li>Lean startup methodologies</li>
    </ul>
  </div>
</div>

<div class="container clearfix">
  <p class="big-text">If you think I have the skills you need then <%= link_to "don't hesitate to get in contact", page_path("contact") %> or see more about <%= link_to "what I'm like to work with", page_path("about") %>.</p>
</div>
