<%-
 @project_title = "Boxedup"
 @project = :boxedup
-%>

<% content_for :project_image do %>
	<%= image_tag("projects/boxedup/showcase.png") %>
<% end %>

<% content_for :project_secondary_image do %>
	<%#= image_tag("projects/boxedup/secondary.png") %>
<% end %>


<% content_for :project_sub_images do %>
	<ul>
		<li class="first"><%= image_tag("projects/boxedup/sub1.png") %></li>
		<li><%= image_tag("projects/boxedup/sub2.png") %></li>
		<li><%= image_tag("projects/boxedup/sub3.png") %></li>
	</ul>
<% end %>



<p>Boxedup desperately needed its codebase improving considerably and a UI re-design. It was important that the site increased its revenue as soon as possible.</p>

<p>The application was rewritten from the ground up. The nature of product data had a better fit with a NoSQL document database, so the application was transitioned from MySQL to MongoDB. A robust automated testing suite was put in place and new UI templates built.</p>
<p>Semantic web techniques were used to extract meaning from product data and a Javascript bookmarklet was developed in conjunction with an API to allow users to add product data easily.</p>

<p>It was vital to make decisions based on the health of the business. Sometimes faster, more pragmatic solutions were found to help the site become profitable and sustainable more quickly.</p>

<p><a href="http://www.boxedup.com">See the site</a></p>

<ul class="skills">
  <li>Re-architecture</li>
  <li>Ruby on Rails</li>
  <li>MongoDB</li>
  <li>Automated testing</li>
  <li>Rspec</li>
  <li>Cucumber</li>
  <li>Javascript</li>
  <li>API</li>
</ul>