<%-
  @project_title = "Chefnote"
  @project = :chefnote
-%>


<% content_for :project_image do %>
	<%= image_tag("projects/chefnote/showcase.png") %>
<% end %>

<p>Chefnote is my first Software as a Service product. Using Lean startup and Agile methodologies I am trying to create a self-sustaining business.</p>
<p>Built in Ruby on Rails, the app features a responsive web design, automagical upload technology, Natural Language Processing and Semantic Web technologies to automate meal planning and shopping lists.</p>
<p><p><a href="http://chefnote.com">View the site</a></p>
<ul class="skills">
	<li>Ruby on Rails</li>
  <li>Sinatra</li>
  <li>User experience</li>
  <li>Lean product development</li>
  <li>Startup</li>
  <li>Responsive design</li>
</ul>
