<%- 
  @project_title = "Chefnote"
  @project = :chefnote
-%>

<% content_for :intro do %>
    <h1>We like to create our own products too.</h1>
<% end %>


<% content_for :project_image do %>
	<%= image_tag("projects/chefnote/showcase.png") %>
<% end %>

<p>Chefnote is an app to help you save recipes, organise yourself in the kitchen and help save time at the supermarket. Built by Tiny Code Factory, we are using lean product development techniques to try and grow Chefnote into a self-sustaining business.</p>
<p>Built in Ruby on Rails, the app features a responsive web design to play nicely with other devices, extra special recipe upload technology and semantic web technologies to make smart meal planning and shopping lists.</p>
<p><p><a href="http://chefnote.com">See the site (In beta at the moment)</a></p>
<ul class="skills">
	<li>Ruby on Rails, Sinatra</li>
  <li>User experience</li>
  <li>Lean product development</li>
  <li>Customer service</li>
  <li>Marketing</li>
</ul>
