<%-
 @project_title = "Commentary Box"
 @project= :commentarybox
-%>

<% content_for :project_image do %>
  <%= image_tag("projects/commentarybox/showcase.png") %>
<% end %>

<% content_for :project_secondary_image do %>
  <%= image_tag("projects/commentarybox/secondary.png") %>
<% end %>

<% content_for :project_testimonial do %>
  "Ben is an excellent developer both on the front-end and back-end. He is reliable, easy to work with and gets things done. I have no hesitation in recommending him to others."
  <footer>- Lee Longmore, Founder, Commentary Box</footer>
<% end %>

<p>I worked alongside the founder adding more features. Most notably some statistical number crunching and data visualisation using raphael.js.</p>
<p>Commentary Box is a well established system with good automated test coverage and a fully responsively designed front-end.<br>A great application to work on!</p>

<p><a href="http://www.commentarybox.co.uk/">See the site</a></p>

<ul class="skills">
  <li>Responsive Design</li>
  <li>Ruby on Rails</li>
  <li>Postgresql</li>
  <li>Automated testing</li>
  <li>Rspec</li>
  <li>raphael.js</li>
</ul>