<%-
 @project_title = "The Queen's Award for Voluntary Service"
 @client = "Directgov - UK Government"
 @project= :qavs
-%>

<% content_for :project_image do %>
  <%= image_tag("projects/qavs/showcase.png") %>
<% end %>


<p>The application was built to handle the nomination submission and awards process that was all done by post.</p>
<p>The goal was to make it more efficient and give the staff who process the award nominations a back office and reporting system.</p>
<p>Built in Ruby on Rails and featuring a fully automated test suite. The site has a custom workflow system to track nominations through the voting stages, email notification and a reporting system with csv downloads.</p>
<p><a href="http://qavs.direct.gov.uk">See the site</a></p>
<ul class="skills">
	<li>Ruby on Rails</li>
  <li>MongoDB</li>
  <li>Automated testing</li>
  <li>Rspec</li>
  <li>Cucumber</li>
</ul>