<%-
 @project_title = "Sheena Amos Youth Trust"
 @project = :sayt
-%>

<% content_for :project_testimonial do %>
	"Tiny Code Factory built a really clear website for our charity that will be easy for us to maintain in the future.  Ben was skillful at explaining concepts to non-techies and very flexible, even managing to complete the project when he was thousands of miles away!  Many thanks"
	<footer>- Joy Beardsley, Director, SAYT</footer>
<% end %>

<% content_for :project_image do %>
	<%= image_tag("projects/sayt/showcase.png", :alt =>"screen shot of the homepage") %>
<% end %>

<p>Sheena Amos Youth Trust was provided with a much needed web presence to attract funding and provide information about the charity.</p>

<p>A Content Management System (CMS) was built using Ruby on Rails, allowing editors with no HTML experience to update the site.
A clean and functional design was created to show information about the charity, but with a youthful edge.</p>

<p><a href="http://www.sayouthtrust.org.uk/">See the site</p>

<ul class="skills">
	<li>Ruby on Rails</li>
	<li>User Experience (UX)</li>
	<li>CMS</li>
	<li>Heroku</li>
</ul>