<%-
 @project_title = "Sheena Amos Youth Trust"
 @project = :sayt
-%>

<% content_for :intro do %>
    <h1>Creating a much needed online presence, so the charity can share information and attract new donors and funding.</h1>
<% end %>


<% content_for :project_testimonial do %>
	Tiny Code Factory built a really clear website for our charity that will be easy for us to maintain in the future.  Ben was skillful at explaining concepts to non-techies and very flexible, even managing to complete the project when he was thousands of miles away!  Many thanks
	<footer>- Joy Beardsley, Director, SAYT</footer>
<% end %>

<% content_for :project_image do %>
	<%= image_tag("projects/sayt/showcase.png", :alt =>"screenshot of the homepage") %>
<% end %>

<p>Sheena Amos Youth Trust needed a new website to attract funding and provide information about the charity. The design had to reflect the ‘youthfulness’ of the charity and they wanted to be able to update the content on the site themselves.</p>

<p>A Content Management System (CMS) was built using Ruby on Rails, allowing the charity to update the pages, news and custom sections of the site. It is simple and easy for people with no HTML experience to use.
A clean and functional design was created to show information about the charity, but with a youthful edge.</p>

<p><a href="http://www.sayouthtrust.org.uk/">See the site</p>

<ul class="skills">
	<li>Ruby on Rails</li>
	<li>User Experience (UX)</li>
	<li>CMS</li>
	<li>Heroku</li>
</ul>